.hidden {
    display: none;
    visibility: hidden;
}

body {
    margin: 60px;
    font-family: Helvetica, sans-serif;
}

#webid, #storage-location {
    font-size: 16px;
    padding-top: 9px;
    padding-left: 10px;
    padding-bottom: 6px;
    width: 350px;
}

#log-in-btn {
    padding: 5px;
}

label[for="webid"], label[for="storage-location"] {
    margin-right: 15px;
}

#webid-form, #current-user, #status-message, #storage-location-container, #github-info-container, #info {
    padding-bottom: 15px;
}

button {
    font-size: 20px;
}

#storage-location-message {
    padding-left: 15px;
}

#grid {
    height: 700px;
    /*border: solid 1px #ddd;*/
}

#filters {
    padding-bottom: 15px;
}
